<!-- Generated template for the CategoryModalComponent component -->
<!-- Generated template for the MuseumModalComponent component -->
<ion-header >
    <ion-navbar  color="foszin">
      <ion-title>Kategóriaválasztó</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content >
      <ion-row style="margin-top:20px;">
          <div class="cat">
            <ion-img class="kategoria" (click)="setTheme(1)" [src]="theme==1 ? './assets/kategoriak/tema_ikonok_kepzomuveszet_aktiv.png' : './assets/kategoriak/tema_ikonok_kepzomuveszet.png'"></ion-img>
            <p>Képzőművészet</p>
          </div>
          <div class="cat">
            <ion-img class="kategoria" (click)="setTheme(2)" [src]="theme==2 ? './assets/kategoriak/tema_ikonok_iparmuveszet_aktiv.png' : './assets/kategoriak/tema_ikonok_iparmuveszet.png'"></ion-img>
            <p>Iparművészet, népművészet</p>
          </div>

          <div class="cat">
            <ion-img class="kategoria" (click)="setTheme(3)" [src]="theme==3? './assets/kategoriak/tema_ikonok_termeszettudomany_aktiv.png' : './assets/kategoriak/tema_ikonok_termeszettudomany.png'"></ion-img>
            <p>Természettudomány</p>
          </div>
          <div class="cat">
            <ion-img class="kategoria" (click)="setTheme(4)" [src]="theme==4 ? './assets/kategoriak/tema_ikonok_gyerek_aktiv.png' : './assets/kategoriak/tema_ikonok_gyerek.png'"></ion-img>
            <p>Gyermekjáték, pedagógia</p>
          </div>

          <div class="cat">
            <ion-img class="kategoria" (click)="setTheme(5)" [src]="theme==5 ? './assets/kategoriak/tema_ikonok_ipar_aktiv.png' : './assets/kategoriak/tema_ikonok_ipar.png'"></ion-img>
            <p>Ipar-, technika- és közlekedéstörténet</p>
          </div>
          <div class="cat">
            <ion-img class="kategoria" (click)="setTheme(6)" [src]="theme==6 ? './assets/kategoriak/tema_ikonok_tortenelem_aktiv.png' : './assets/kategoriak/tema_ikonok_tortenelem.png'"></ion-img>
            <p>Történelem, régészet</p>
          </div>

          <div class="cat">
            <ion-img class="kategoria" (click)="setTheme(7)" [src]="theme==7 ? './assets/kategoriak/tema_ikonok_irodalom_aktiv.png' : './assets/kategoriak/tema_ikonok_irodalom.png'"></ion-img>
            <p>Irodalom, színháztörténet</p>
          </div>
          <div class="cat">
            <ion-img class="kategoria" (click)="setTheme(8)" [src]="theme==8 ? './assets/kategoriak/tema_ikonok_egyhazi_aktiv.png' : './assets/kategoriak/tema_ikonok_egyhazi.png'"></ion-img>
            <p>Egyházi gyűjtemény</p>
          </div>
          <div class="cat">
            <ion-img class="kategoria" (click)="setTheme(9)" [src]="theme==9 ? './assets/kategoriak/tema_ikonok_zene_aktiv.png' : './assets/kategoriak/tema_ikonok_zene.png'"></ion-img>
            <p>Zene</p>
          </div>
          <div class="cat">
            <ion-img class="kategoria" (click)="setTheme(10)" [src]="theme==10 ? './assets/kategoriak/tema_ikonok_gasztronomia_aktiv.png' : './assets/kategoriak/tema_ikonok_gasztronomia.png'"></ion-img>
            <p>Gasztronómia</p>
          </div>

          <div class="cat">
            <ion-img class="kategoria" (click)="setTheme(11)" [src]="theme==11 ? './assets/kategoriak/tema_ikonok_var_aktiv.png' : './assets/kategoriak/tema_ikonok_var.png'"></ion-img>
            <p>Vár, kastély</p>
          </div>
          <div class="cat">
            <ion-img class="kategoria" (click)="setTheme(12)" [src]="theme==12 ? './assets/kategoriak/tema_ikonok_neprajz_aktiv.png' : './assets/kategoriak/tema_ikonok_neprajz.png'"></ion-img>
            <p>Néprajz, helytörténet</p>
          </div>

          <div class="cat">
            <ion-img class="kategoria" (click)="setTheme(13)" [src]="theme==13 ? './assets/kategoriak/tema_ikonok_mezogazdasag_aktiv.png' : './assets/kategoriak/tema_ikonok_mezogazdasag.png'"></ion-img>
            <p>Mezőgazdaság, agrártörténet</p>
          </div>
          <div class="cat">
            <ion-img class="kategoria" (click)="setTheme(14)" [src]="theme==14 ? './assets/kategoriak/tema_ikonok_sportszabadido_aktiv.png' : './assets/kategoriak/tema_ikonok_sportszabadido.png'"></ion-img>
            <p>Sport és szabadidő</p>
          </div>

        </ion-row>


  </ion-content>
