<ion-menu [content]="mycontent">
  <ion-content >

        <ion-list style="border-bottom:1px solid #ccc; ">
          <ion-list-header style="background-color: #be7b50; color:#fff;">
            Mozaik múzeumtúra
          </ion-list-header>
          <button style="color:#333;" ion-item menuClose (click)="openPage(tabPage, 0)">
              <ion-icon name="custom-news" item-start></ion-icon>  Aktuális
         </button>



         <button style="color:#333;" ion-item menuClose (click)="openPage(tabPage, 1)">
            <ion-icon name="custom-museums" item-start></ion-icon> Múzeumok
         </button>

      </ion-list>

      <ion-list style="border-bottom:1px solid #ccc; ">

        <ion-list-header style="background-color: #be7b50; color:#fff;">
            Felhasználó
          </ion-list-header>
          <button style="color:#333;" *ngIf="login==0" ion-item  menuClose (click)="openLogin()">
         <ion-icon name="contact" item-start></ion-icon>Belépés
        </button>
        <button style="color:#333;" *ngIf="login==1" ion-item  menuClose (click)="openLogout()">
            <ion-icon name="contact" item-start></ion-icon>Kijelentkezés
           </button>
        <button style="color:#333;" ion-item menuClose  (click)="openPage(tabPage, 2)">
         <ion-icon name="custom-game" item-start></ion-icon>Játék
        </button>

      </ion-list>

      <ion-list >

            <ion-list-header style="background-color: #be7b50; color:#fff;">
                Információ
              </ion-list-header>
              <button style="color:#333;" ion-item menuClose (click)="presentAlert('GY.I.K.', '
              <h2>Mi az a Mozaik Múzeumtúra?</h2>
<p>A program célja a hazai múzeumok és kiállítóhelyek látogatottságának növelése, a magyarországi múzeumok sokszínű kulturális kínálatának megismertetése. A Mozaik Múzeumtúra kiemelt célcsoportja a 8–16 év közötti fiatal korosztály, de bízunk benne, hogy kezdeményezésünkkel a felnőtt lakosságot is sikerül megszólítanunk. </p>

<h2>Hogyan játsszak a matricagyűjtő játékban? </h2>
<p>A játék célja, hogy minél több múzeumba eljuss. A játékban résztvevő múzeumokat megtalálod az alkalmazás <b>Múzeumok</b> menüpontjában. Keresgélhetsz közöttük település, tematika vagy éppen a kiállítóhelye neve alapján. Minden múzeumban megszerezheted a hozzá tartozó matricát. Ha 12 matricát begyűjtesz, teljesítetted az első, a bronz szintet. 24 matrica begyűjtése után már az ezüst szintre léptél, 36 matrica elérésekor pedig arany fokozatú játékossá válsz. </p>

<h2>Mire való a mobil alkalmazás? </h2>
<p>A mobil alkalmazással kapcsolódhatsz be a játékba! Regisztrálj a <b>Játék</b>  menüpontban és lépj be. Elég csak egyszer belépned.<br>
Az alkalmazásban keresgélhetsz a múzeumok között tematika, lakhelyed, kirándulási célpontod vagy éppen
a múzeumok nevei alapján.
Ha engedélyezted az eszközön a helymeghatározást a kiválasztott múzeum adatainál megtalálod, hogy épp milyen messze vagy az adott múzeumtól,
a nyitóképernyőn pedig mindig friss információkat, kiállításajánlókat találsz. </p>

<h2>Hogyan tudom megszerezni a múzeum matricáját? </h2>
<p>Amikor meglátogatsz egy, a játékban résztvevő múzeumot, a kijáratánál megtalálod a múzeum <b>Információs Tábláját</b>. Keresd meg az alkalmazás <b>Játék</b>  menüpontjában a kamera ikont és fényképezd le az <b>Információs Táblán</b>  található QR-kódot és már meg is szerezted a múzeum matricáját.  A rendszer ezt rögzíti és amint legközelebb online leszel, feltölti. </p>

<h2>Hogyan regisztrálhatok a mobil alkalmazásban? </h2>
<p>A regisztrációhoz csak az e-mail címedet szükséges megadnod és egy jelszót választanod, de lehetőséged van megadni, hogy melyik településen laksz és bejelölheted, hogy milyen tematikáju múzeumok, kiállítások érdekelnek (többet is megadhatsz). </p>

<h2>A weboldalon is regisztrálhatok? </h2>
<p>Igen, a http://www.mozaikmuzeumtura.hu/users/registration weboldalon is tudsz regisztrálni. A mobil alkalmazás és a weboldal folyamatosan szinkronizálja magát, így a weboldalon is láthatod, hogy milyen matricákat szereztél már meg. </p>

<h2>Lefotóztam egy múzeumi QR-kódot, de nem kaptam meg a matricát. </h2>
<p>Ez csak átmeneti állapot és amint lesz internet elérésed, az alkalmazás frissíti magát és megjelenik a matricád is. Az alkalmazás tárolja a megszerzett matricákat, ne aggódj, nem vesznek el. Hogy éppen hány db ilyen matricád van azt a <b>’Jóváírásra váró matricáid’</b> -nál látod. <br>
Az is lehet, hogy már jártál itt és a játékszabályzat szerint ugyan azt a múzeumi matricát csak egyszer szerezheted meg. </p>


<h2>Mennyi idő alatt kell teljesítenem a szinteket? </h2>
<p>Ez csak tőled függ. A játék nem ér véget, bármennyi idő alatt teljesítheted a szinteket. </p>

<h2>Ha nem akarok játszani, akkor miért használjam az alkalmazást? </h2>
<p>Az alkalmazás segítségével közel 400 múzeumot ismerhetsz meg, amiket játék nélkül is érdemes meglátogatnod. A nyitóoldalon pedig mindig friss múzeumi híreket találsz, hogy kedvet csináljunk egy újabb kiállítás meglátogatására és ki tudja, lehet, hogy egyszer mégis csak elkezded a játékot! </p>')">
             <ion-icon name="help-circle" item-start></ion-icon>GYIK
            </button>

            <button style="color:#333;" ion-item menuClose (click)="presentAlert('Játékleírás', '<h2>Mozaik Múzeumtúra matricagyűjtő játék</h2>
              <p>Csontlelet, ékszer, szobor vagy épp Beethoven bögréje? Tarts velünk, és fedezd fel Magyarország sokszínű kulturális kínálatát egy élményekben gazdag játék keretében! <br>
                  A Mozaik Múzeumtúra alkalmazással többszáz hazai múzeumot ismerhetsz meg, mindig tudhatod, hogy milyen kiállításokkal, programokkal várnak, s ha szenvedélyeddé válik a tárlatlátogatás, aranyfokozatú túrázó is lehetsz! </p>

              <h2>Fedezz fel minél több helyszínt! </h2>
              <p>A mobil alkalmazás <b>JÁTÉK</b> menüjében regisztrálj a játékra és már kezdődhet is a matricagyűjtés! Keresd a múzeumokban a Mozaik Múzeumtúra <b>Információs Táblát</b> és az alkalmazás segítségével olvasd be a táblán található egyedi QR-kódot. <br>
                  Már meg is szerezted a múzeum matricáját! </p>

              <h2>Teljesítsd a szinteket! </h2>
              <p>Aki felkeres 12 helyszínt, <b>bronz-</b>, aki 24 múzeumban jár, <b>ezüst-</b>, aki 36 kiállítóhelyet keres fel, <b>aranyfokozatú</b> múzeumtúrázó lesz! Fontos tudnod, hogy egy múzeum matricáját csak egyszer szerezheted meg.<br>
                  Nincs határidő, csak rajtad áll, hogy mennyi idő alatt éred el a szinteket. </p>

                  Kövess minket a <b><a href=http://www.facebook.com/mozaikmuzeumtura>Facebook</a></b> oldalunkon vagy látogasd meg a <b><a href=http://www.mozaikmuzeumtura.hu>weboldalunkat</a></b> és nem maradsz le egy múzeumtúra ajánlatunkról sem. </p>

              <p>Fedezz fel minél több tárlatot Te is! </p>')">
             <ion-icon name="information-circle" item-start></ion-icon>Játékleírás
            </button>


       </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>
