<ion-content  text-center style="background:url('./assets/jatek/bg_matricabegyujtes.png'); background-size: 100% 100%;">
<div style="margin-top:20%;">
  <h2>Gratulálunk!</h2>
  <p>Az alábbi matricát szerezted meg:</p>
</div>
<img style="width:80%;" src="./assets/matrica/{{muid}}.jpg">
<p>Ha még nem regisztráltál, vagy jelenleg nem vagy online állapotban, akkor a bejűjtött matrica csak jóváírás után fog megjelenni az oldaladon</p>
<button ion-button (click)="dismiss()" > Bezárás </button>
</ion-content>
